# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Images and large outputs (optional)
*.png

